@charset "UTF-8";


.formtable {
	padding:10px;
	border: 1px solid blue;
}

input[type=text] {
	width: 200px;
}

textarea {
	width: 200px;
	height: 150px;
}

.label {
	text-align: right;
	vertical-align: top;
}